/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  /* background-color: rgb(174, 216, 255); */
  background-position: bottom;
  background: rgb(136, 172, 250);
  background-repeat: no-repeat;
  background-size: contain;
  /* font-family: 'winter'; */
  font-family: 'Patua One', cursive;
  /* font-family: 'Helvetica', sans-serif; */
}

@font-face {
  font-family: spooky;
  src: url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/font/SHLOP.ttf);
}

@font-face {
  font-family: jedi;
  src: url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/font/star-jedi.ttf);
  color: yellow
}

@font-face {
  font-family: winter;
  src: url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/font/Snowfall.ttf);
  color: blue; 
  font-size: 500%;
}

html {
  /* background-color: rgb(174, 216, 255); */
  background-color: rgb(0, 16, 107);
  background-repeat: no-repeat;
  background-position: bottom;

}

.birthday {
  background-color: rgb(0, 0, 0);
  background-image: url('https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/images/light-speed.gif');
  border-radius: 60/2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, cover;
}

.megatron {
  /* background-color: rgb(0, 16, 107); */
  border-radius: 60/2;
  /* background-image: url(https://www.kindpng.com/picc/m/314-3140248_butterflies-swarm-png-transparent-png.png); */
  background-image: url(https://i.imgur.com/H74ow7u.png);
  /* background-image:url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/images/Winterscape.png); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  align-content: center;
}

.megaBG {
  /* background-color: rgb(0, 16, 107); */
  border-radius: 60/2;
  background-image: url(https://i.pinimg.com/originals/af/5f/97/af5f975e86e404309d0c6ce803498046.png );
  /* background-image:url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/images/Winterscape.png); */

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  align-content: center;
}

.motion {
  border: 2px solid #0f018d;
}

#winterWindow {
  /* background-image:url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/images/winterWindow.jpg); */
  background-image:url(https://i.imgur.com/wMEYn7D.png);
  background-size: cover;
  background-repeat: no-repeat;
  

}

#closedWindow {
  /* background-image:url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/images/closedWindow1.png); */
  background-color:white;
  background-size: cover, contain;
}

.cardSpace {
  margin: 2px;
  margin-bottom: 3px;
}

#redBrick {
  background-color: silver;
  /* background-image:
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px),
  linear-gradient(335deg, #b00 23px, transparent 23px),
  linear-gradient(155deg, #d00 23px, transparent 23px);
  background-size:58px 58px;
  background-position:0px 2px, 4px 35px, 29px 31px, 34px 6px; */
}

#wrapper {
  text-align: center;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */

}

.sub {
  color: #64dcdc;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.5em;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
  font-family: 'Orbitron', sans-serif;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */

}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
  font-family: 'Orbitron', sans-serif;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
  font-family: 'Orbitron', sans-serif;
}


/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(92px, 9999px, 90px, 0);
    transform: skew(0.13deg);
  }

  5% {
    clip: rect(100px, 9999px, 56px, 0);
    transform: skew(0.32deg);
  }

  10% {
    clip: rect(46px, 9999px, 80px, 0);
    transform: skew(0.22deg);
  }

  15% {
    clip: rect(6px, 9999px, 58px, 0);
    transform: skew(0.67deg);
  }

  20% {
    clip: rect(91px, 9999px, 54px, 0);
    transform: skew(0.3deg);
  }

  25% {
    clip: rect(97px, 9999px, 12px, 0);
    transform: skew(0.15deg);
  }

  30% {
    clip: rect(49px, 9999px, 51px, 0);
    transform: skew(0.29deg);
  }

  35% {
    clip: rect(83px, 9999px, 60px, 0);
    transform: skew(0.55deg);
  }

  40% {
    clip: rect(27px, 9999px, 27px, 0);
    transform: skew(0.55deg);
  }

  45% {
    clip: rect(87px, 9999px, 6px, 0);
    transform: skew(0.95deg);
  }

  50% {
    clip: rect(76px, 9999px, 33px, 0);
    transform: skew(0.41deg);
  }

  55% {
    clip: rect(9px, 9999px, 70px, 0);
    transform: skew(0.39deg);
  }

  60% {
    clip: rect(11px, 9999px, 19px, 0);
    transform: skew(0.59deg);
  }

  65% {
    clip: rect(66px, 9999px, 13px, 0);
    transform: skew(0.87deg);
  }

  70% {
    clip: rect(66px, 9999px, 62px, 0);
    transform: skew(0.56deg);
  }

  75% {
    clip: rect(8px, 9999px, 96px, 0);
    transform: skew(0.75deg);
  }

  80% {
    clip: rect(49px, 9999px, 37px, 0);
    transform: skew(0.5deg);
  }

  85% {
    clip: rect(37px, 9999px, 7px, 0);
    transform: skew(0.61deg);
  }

  90% {
    clip: rect(92px, 9999px, 27px, 0);
    transform: skew(0.12deg);
  }

  95% {
    clip: rect(24px, 9999px, 15px, 0);
    transform: skew(0.58deg);
  }

  100% {
    clip: rect(53px, 9999px, 54px, 0);
    transform: skew(0.01deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(61px, 9999px, 47px, 0);
    transform: skew(0.99deg);
  }

  5% {
    clip: rect(65px, 9999px, 95px, 0);
    transform: skew(0.06deg);
  }

  10% {
    clip: rect(44px, 9999px, 4px, 0);
    transform: skew(0.58deg);
  }

  15% {
    clip: rect(75px, 9999px, 5px, 0);
    transform: skew(0.84deg);
  }

  20% {
    clip: rect(96px, 9999px, 36px, 0);
    transform: skew(0.05deg);
  }

  25% {
    clip: rect(67px, 9999px, 51px, 0);
    transform: skew(0.68deg);
  }

  30% {
    clip: rect(92px, 9999px, 52px, 0);
    transform: skew(0.98deg);
  }

  35% {
    clip: rect(94px, 9999px, 71px, 0);
    transform: skew(0.34deg);
  }

  40% {
    clip: rect(85px, 9999px, 30px, 0);
    transform: skew(0.11deg);
  }

  45% {
    clip: rect(77px, 9999px, 10px, 0);
    transform: skew(0.45deg);
  }

  50% {
    clip: rect(69px, 9999px, 49px, 0);
    transform: skew(0.35deg);
  }

  55% {
    clip: rect(19px, 9999px, 65px, 0);
    transform: skew(0.34deg);
  }

  60% {
    clip: rect(52px, 9999px, 33px, 0);
    transform: skew(0.61deg);
  }

  65% {
    clip: rect(49px, 9999px, 4px, 0);
    transform: skew(0.16deg);
  }

  70% {
    clip: rect(96px, 9999px, 36px, 0);
    transform: skew(0.56deg);
  }

  75% {
    clip: rect(32px, 9999px, 52px, 0);
    transform: skew(0.67deg);
  }

  80% {
    clip: rect(23px, 9999px, 91px, 0);
    transform: skew(0.81deg);
  }

  85% {
    clip: rect(89px, 9999px, 79px, 0);
    transform: skew(0.36deg);
  }

  90% {
    clip: rect(57px, 9999px, 20px, 0);
    transform: skew(0.53deg);
  }

  95% {
    clip: rect(97px, 9999px, 21px, 0);
    transform: skew(0.38deg);
  }

  100% {
    clip: rect(50px, 9999px, 92px, 0);
    transform: skew(0.57deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }

  10% {
    transform: skew(5deg);
  }

  20% {
    transform: skew(-2deg);
  }

  30% {
    transform: skew(5deg);
  }

  40% {
    transform: skew(-4deg);
  }

  50% {
    transform: skew(1deg);
  }

  60% {
    transform: skew(-4deg);
  }

  70% {
    transform: skew(2deg);
  }

  80% {
    transform: skew(3deg);
  }

  90% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(5deg);
  }
}

.jumbotron h2 {
  color: #bfbfc2;
}

.navbar-dark {
  background-color: #302f30;
}

.editbutton {
  border: 1px solid black;
  background-color: blue;
  color: white;
  vertical-align: text-top;
}

.sentry {
  font-size: x-small;
}

.sheader {
  font-size: small;
}

.fancy-cursor {
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */
}

.card-title {
  font-size: large;
  font-weight: bolder;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */
  /* text-shadow: 2px 2px #050505; */
}

.shadow {
  text-shadow: 2px 2px white;
}

#schedBox {
  border: 2px solid #000000;
  font-size: large;
  font-weight: bolder;
  margin: bottom 10px;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */
}

.schedule-container {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-row-gap: 0px;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */
}

#trackerBox {
  border: 2px solid #000000;
  /* cursor: url('https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Large Pencil Yellow.cur?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvTGFyZ2UgUGVuY2lsIFllbGxvdy5jdXIiLCJpYXQiOjE2MjEyNjg5NTMsImV4cCI6MTkzNjYyODk1M30.ShhNhxaUY1mVwYca4tQ_PITyEZQXHV5t7k7mw-E0x1A'), auto; */
  position: relative;
  bottom: 3
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

#schedItem:hover {
  opacity: 1;
  background-image: url(https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/pencil.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvcGVuY2lsLnBuZyIsImlhdCI6MTYyMjIyMTk0MSwiZXhwIjoxOTM3NTgxOTQxfQ.YPpAJsBNoSZyQFU9B3SQoEptmWoS7o10CR1PXzPy0V0);
  background-size: contain;
  background-repeat: no-repeat;
}

#headline {

  justify-content: 'center';
  align-items: 'center'
}

#tallInput {
  height: 150px;
}

#green {
  background: green
}

.tight {
  line-height: 80%;
}

.No {
  background: rgb(36, 36, 36)
}

.Yes {
  background: green
}

.Prep {
  background: blue
}

.Present {
  background: rgb(1, 253, 64);
}

.Absent {
  background: rgb(253, 9, 1);
}

.true {
  background: rgb(96, 252, 96);
}

.false {
  background: rgb(243, 122, 122);
}

.Tara {
  background-image: linear-gradient(rgb(0, 255, 13), rgb(255, 255, 255), rgb(17, 0, 255));
}

.Kheanna {
  background-image: radial-gradient(rgb(208, 245, 247), rgb(2, 240, 248), rgb(41, 128, 136));
}

.Margaret {
  background-image: linear-gradient(rgb(255, 115, 0), rgb(229, 255, 0));
}

.Paul {
  background: rgb(253, 1, 253);
}

.Jessica {
  background-image: linear-gradient(rgba(114, 71, 2, 0.623), rgba(5, 238, 255, 0.829), rgba(253, 236, 5, 0.671));
}

.Raelee {
  background-image: linear-gradient(rgba(194, 5, 252, 0.849), rgb(248, 107, 97), rgb(5, 232, 253));
}

.Chris {
  background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 255, 255), rgb(17, 0, 255));
}

.Crystal {
  background-image: radial-gradient(rgb(208, 245, 247), rgb(2, 240, 248), rgb(41, 128, 136));
}

.Atlas {
  background-image: linear-gradient(rgb(255, 115, 0), rgb(229, 255, 0));
}

.Sherry {
  background-image: linear-gradient(rgb(2, 0, 128), rgb(5, 167, 5));
  color: white
}

.Amber {
  background: rgb(253, 1, 253);
}

.Susan {
  background: rgb(138, 118, 248);
}

.Jacob {
  background: rgb(253, 144, 1);
}

.Tawna {
  background: rgb(1, 253, 240);
}

.Yolanda {
  background-image: linear-gradient(rgb(0, 247, 255), rgb(247, 101, 157));
}

.Noelle {
  background-image: linear-gradient(rgba(114, 71, 2, 0.623), rgba(5, 238, 255, 0.829), rgba(253, 236, 5, 0.671));
}

.Anna {
  background: rgb(88, 1, 37);
  color: white
}

.Brianna {
  background-image: radial-gradient(rgb(54, 252, 5), rgb(248, 208, 97), rgb(5, 232, 253));
}

.Kiri {
  background-image: linear-gradient(rgba(194, 5, 252, 0.849), rgb(248, 107, 97), rgb(5, 232, 253));
}

.Michael {
  background-image: linear-gradient(rgba(0, 68, 255, 0.678), rgba(136, 136, 136, 0.568));
}

.Mary {
  background: rgb(250, 225, 2);
}

.Grant {
  background-image: linear-gradient(purple, lime);
  color: white
}

.Sara {
  background-image: linear-gradient(purple, rgb(255, 0, 179));
  color: white
}

.Justin {
  background-image: linear-gradient(red, yellow);
}

.Ana {
  background-image: linear-gradient(Blue, red);
  color: white
}

.Daniel {
  background-image: linear-gradient(Orange, Pink);
}

.Bill {
  background-image: linear-gradient(Brown, Gray);
  color: white
}

.Justice {
  background-image: linear-gradient(Lime, Pink);
}

.Pam {
  background-image: linear-gradient(Red, Purple);
  color: white
}

.Donna {
  background-image: radial-gradient(white, rgb(193, 97, 248), rgb(5, 232, 253));
}

.David {
  background-image: linear-gradient(rgb(0, 255, 21), rgb(2, 0, 128));
  color: white
}

.Del {
  background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 102, 0));
}

.Keegan {
  background-image: linear-gradient(rgb(126, 0, 0), rgb(2, 0, 144));
  color: white
}

.Kiier {
  background-image: linear-gradient(rgb(47, 0, 255), rgb(80, 1, 126), rgb(0, 144, 55));
  color: white
}

.Selena {
  background-image: linear-gradient(rgb(251, 255, 0), rgb(195, 0, 186));
}

.Brandon {
  background-image: linear-gradient(rgb(105, 105, 105), rgb(134, 112, 82));
}

.Kalee {
  background-image: linear-gradient(rgba(85, 0, 0, 0.561), rgb(248, 244, 0));
}

.Rocky {
  background-image: linear-gradient(rgb(250, 233, 0), rgba(14, 163, 1, 0.739));
}

.Sonia {
  background-image: linear-gradient(rgb(87, 0, 250), rgba(152, 163, 1, 0.739));
  color: white
}

.Zhane {
  background-image: linear-gradient(rgb(0, 212, 250), rgba(255, 102, 0, 0.972));
}

.Brooke {
  background-image: linear-gradient(rgb(86, 87, 87), rgba(253, 252, 252, 0.972));
}

.Claudia {
  background-image: linear-gradient(rgb(185, 0, 123), rgba(209, 255, 2, 0.972));
}

.Julia {
  background-image: linear-gradient(rgb(180, 98, 153), rgba(173, 131, 97, 0.972));
}

.Laura {
  background-image: linear-gradient(rgb(117, 165, 106), rgba(18, 194, 71, 0.972));
}

.Scott {
  background-image: linear-gradient(rgba(192, 0, 0, 0.719), rgba(194, 197, 1, 0.972));
}

.Tina {
  background-image: linear-gradient(rgba(192, 35, 119, 0.719), rgba(197, 96, 1, 0.972));
}

.Heidi {
  background-image: linear-gradient(rgb(251, 255, 0), rgba(46, 80, 173, 0.972));
}

.Rosa {
  background-image: linear-gradient(rgba(255, 0, 0, 0.719), rgba(255, 255, 255, 0.972), rgba(24, 197, 1, 0.972));
}

.Harold {
  background-image: linear-gradient(rgba(255, 136, 0, 0.719), rgba(131, 0, 238, 0.972));
}

.Katherine {
  background-image: linear-gradient(rgba(251, 255, 0, 0.719), rgba(160, 100, 228, 0.972), rgba(126, 126, 126, 0.972));
}

.Olivia {
  background-image: linear-gradient(rgba(255, 0, 221, 0.719), rgba(8, 253, 0, 0.972), rgba(197, 145, 1, 0.972));
}

.Daisy {
  background-image: radial-gradient(rgb(114, 84, 2), rgb(250, 233, 0), rgb(255, 255, 255));
}

.Gabrielle {
  background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 196, 0), rgb(255, 251, 0), rgb(9, 255, 0), rgb(4, 0, 255), rgb(153, 0, 255));
}

.Alicia {
  background-image: linear-gradient(rgba(0, 4, 255, 0.726), rgb(0, 122, 20), rgb(155, 32, 1));
  color: white
}

.Brittnee {
  background-image: linear-gradient(rgba(0, 255, 242, 0.726), rgb(187, 255, 1), rgb(255, 187, 0));
}

.Angel {
  background-image: linear-gradient(rgb(104, 0, 5), rgb(0, 10, 156), rgb(21, 107, 0));
  color: white
}

.Hailey {
  background-image: linear-gradient(rgb(255, 0, 234), rgb(119, 255, 115), rgb(0, 255, 242));
}

.Roman {
  background-image: linear-gradient(rgb(101, 0, 104), rgb(156, 153, 0), rgb(0, 34, 107));
  color: white
}

.Jerek {
  background-image: linear-gradient(rgb(0, 139, 93), rgb(156, 18, 0), rgb(59, 0, 107));
  color: white
}

.Jay {
  background-image: linear-gradient(rgb(1, 253, 169), rgb(255, 30, 0), rgb(141, 1, 255));
}

.Juanita {
  background-image: linear-gradient(rgb(0, 21, 139), rgb(156, 88, 0), rgb(107, 0, 0));
  color: white
}

.Curtis {
  background-image: linear-gradient(rgb(23, 139, 0), rgb(0, 156, 0), rgb(0, 107, 62));
  color: white
}

.Corinne {
  background-image: linear-gradient(rgb(0, 14, 139), rgb(0, 81, 156), rgb(32, 0, 107));
  color: white
}

.Karol {
  background-image: linear-gradient(rgb(139, 5, 0), rgb(156, 0, 91), rgb(107, 0, 5));
  color: white
}

.Paloma {
  background-image: linear-gradient(rgb(139, 90, 0), rgb(156, 114, 0), rgb(107, 34, 0));
  color: white
}

.Angela {
  background-image: linear-gradient(rgb(127, 0, 139), rgb(143, 0, 156), rgb(67, 1, 80));
  color: white
}

.Romon {
  background-image: linear-gradient(rgb(0, 75, 173), rgb(255, 255, 255), rgb(196, 0, 10));
}

.Tyler {
  background-image: linear-gradient(rgb(255, 0, 242), rgb(156, 0, 143), rgb(255, 0, 242));
}

.Terrance {
  background-image: linear-gradient(rgb(0, 150, 50), rgb(249, 253, 0), rgb(4, 107, 0));
}

.Kassandra {
  background-image: linear-gradient(rgb(139, 0, 139), rgb(0, 156, 65), rgb(141, 92, 0));
  color: white
}

.None {
  background: black;
}

.aspireOwl {
  background-image: url("https://qyctrtcwtwasdktftmuy.supabase.co/storage/v1/object/sign/images/Aspire-Owl.gif?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJpbWFnZXMvQXNwaXJlLU93bC5naWYiLCJpYXQiOjE2MTg3NzMwNDksImV4cCI6MTkzNDEzMzA0OX0.Rz17BSP_eY9jSZYbevGMPXdQbH7G24PkrdZf-zf-zrQ");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto
}

#scheduleHeader {
  background: rgba(71, 125, 241, 0.5)
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  justify-content: left;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px rgb(17, 0, 255) solid;
}

.image2 {
  position: absolute;
  top: -2px;
  left: 15px;

}

/* customizable snowflake styling */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {

  0%,
  100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(80px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
  left: 25%;
  -webkit-animation-delay: 2s, 0s;
  animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
  left: 65%;
  -webkit-animation-delay: 4s, 2.5s;
  animation-delay: 4s, 2.5s
}

.videoseriestitle {
  margin-bottom: 0px;
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
  font-size: 350%;
  margin-left: auto;
  margin-right: auto;
}

.videoseriessubtitle {
  margin-top: 0px;
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
  font-size: 150%;
  margin-left: auto;
  margin-right: auto;
}

.videofoot {
  font-family: 'bigmontserrat';
  letter-spacing: .2rem;
}

.videoButton {
  min-height: 56px;
  background-color: black;
  border: none;
  text-shadow: 1px 1px rgb(131, 120, 120);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.collapsibleSelectVideo {
  border-bottom: 1px solid black;
  text-align: left;
  padding-top: 2%;
  /* padding-bottom: 2% */
}


.selectVideo {
  /* wrap text in compatible browsers */
  -moz-white-space: pre-wrap;
  -o-white-space: pre-wrap;
  white-space: pre-wrap;
  /* hide text that can't wrap with an ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-weight: bolder;
  min-height: 50px;
  line-height: 1.5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
  /* add border after every option */
  border-bottom: 1px solid black;
}

.selectVideo:hover {
  color: white;
  background-color: #6d6d6d;
  text-shadow: 1px 1px black
}

.selectVideo:focus {
  color: white;
  background-color: rgb(0, 0, 0);
}

.Collapsible__trigger {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Collapsible__trigger.is-open svg {
  transform: rotate(270deg);
}


@font-face {
  font-family: greatvibes;
  src: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/fonts/GreatVibes-Regular.ttf)
}

@font-face {
  font-family: montserrat;
  src: url(https://qyctrtcwtwasdktftmuy.supabase.in/storage/v1/object/public/font/Montserrat-Regular.ttf)
}

@font-face {
  font-family: bigmontserrat;
  src: url(https://jwvonytjrpiueyuwsjpa.supabase.in/storage/v1/object/public/fonts/Montserrat-ExtraBold.ttf)
}






/*# sourceMappingURL=App.css.map */
